{% include 'officer_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'officials_registration.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <title>Official Account Registration</title>
</head>
<body>

    <div class="form-container">
        <form action="officer_login" method="post" enctype="application/x-www-form-urlencoded">
            {% csrf_token %}
            <h3>Official Account</h3>
            <input type="text" placeholder="Officer Name" name="officialname" required>
            <select name="gender" required>
                <option>-- Gender --</option>
                <option>Male</option>
                <option>Female</option>
            </select><br><br>
            <select name="speciality" required>
                <option>-- Officer's Speciality -- </option>
                <option>Sexual Assault-related GBV crimes</option>
                <option>Physical Abuse-related GBV crimes</option>
                <option>Other</option>
            </select><br><br>
            <input type="tel" placeholder="Phone No." name="phone" required>
            <input type="email" placeholder="Email address" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="password" placeholder="Confirm Password" name="c_password" required>
            <button type="submit">Create Official Account</button>
        </form>
    </div>
    
</body>
</html>